body{
	background-color: #f4f6cd;
}
	
h1{
	text-align: center;
	font-family: 'Bangers', cursive;
}

p{
	text-align: left;
	font-family: 'Karla', sans-serif;
}

a{
	text-decoration: none;
	font-family: 'Bangers', cursive;
}

ul{
	list-style-type: none;
}
img{
    width: 100%;
}
