@media screen and (max-width: 750px){
    .index{
        display:grid;
        grid-gap: 5px;
        grid-template-columns: 1fr;
        grid-template-areas:
        "logo"    
        "nav"
        "featuredimage"
        "footer"
    }
}
@media screen and (min-width: 750px){
    .index{
        display: grid;
        grid-gap: 5px;
        grid-template-columns: 1fr;
        grid-template-areas:
        "logo"    
        "nav"
        "featuredimage"
        "footer";
    }

}
.logo{
    grid-area:logo;
}
.nav{
    grid-area:nav;
}
.featuredimage{
    grid-area:featuredimage;
}
.footer{
    grid-area:footer;
}


@media screen and (max-width: 750px){
    .menu{
        display:grid;
        grid-gap: 5px;
        grid-template-columns: 1fr;
        grid-template-areas:
        "logo"    
        "nav"
        "titlemenu"
        "specials"
        "regular"    
        "juice"
        "footer";
    }
}
@media screen and (min-width: 750px){
    .menu{
        display:grid;
        grid-gap: 5px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas:
        "logo logo logo"
        "nav nav nav"
        "titlemenu titlemenu titlemenu"
        "specials specials specials"
        "regular regular juice"
        "footer footer footer";   
    }
}
.logo{
    grid-area:logo;
}
.nav{
    grid-area:nav;
}
.titlemenu{
    grid-area:titlemenu;
}
.specials{
    grid-area:specials;
}
.regular{
    grid-area:regular;
}
.juices{
    grid-area: juices;
}
.footer{
    grid-area:footer;
}

@media screen and (max-width: 750px){
    .challenges{
        display:grid;
        grid-gap: 5px;
        grid-template-columns: 1fr;
        grid-template-areas:
        "logo"    
        "nav"
        "challenge"
        "challenge1"
        "challenge2"    
        "challenge3"
        "challenge4"
        "challenge5"
        "footer";
    }
}
@media screen and (min-width: 750px){
    .challenges{
        display:grid;
        grid-gap: 5px;
        grid-template-columns: repeat(6, 1fr);
        grid-template-areas:
        "logo logo logo logo logo logo"
        "nav nav nav nav nav nav"
        "challenge challenge challenge challenge challenge challenge"
        "challenge1 challenge1 challenge2 challenge2 challenge3 challenge3"
        "challenge4 challenge4 challenge4 challenge5 challenge5 challenge5"
        "footer footer footer footer footer footer";   
    }
}
.logo{
    grid-area:logo;
}
.nav{
    grid-area:nav;
}
.challenge{
    grid-area: challenge;
}
.challenge1{
    grid-area:challenge1;
}
.challenge2{
    grid-area:challenge2;
}
.challenge3{
    grid-area: challenge3;
}
.challenge4{
    grid-area:challenge4;
}
.challenge5{
    grid-area:challenge5;
}
.footer{
    grid-area: footer;
}
@media screen and (max-width: 750px){
    .champs{
        display:grid;
        grid-gap: 5px;
        grid-template-columns: 1fr;
        grid-template-areas:
        "logo"    
        "nav"
        "winners"
        "winner1"
        "winner2"
        "winner3"
        "winner4"
        "winner5"
        "winner6"
        "footer";
    }
}
@media screen and (min-width: 750px){
    .champs{
        display:grid;
        grid-gap: 5px;
        grid-template-columns: repeat(6, 1fr);
        grid-template-areas:
        "logo logo logo logo logo logo"
        "nav nav nav nav nav nav"
        "winners winners winners winners winners winners"
        "winner1 winner1 winner2 winner2 winner3 winner3"
        "winner4 winner4 winner5 winner5 winner6 winner6"
        "footer footer footer footer footer footer";   
    }
}
.logo{
    grid-area:logo;
}
.nav{
    grid-area:nav;
}
.winners {
    grid-area: winners;
}
.winner1{
    grid-area: winner1;
}
.winner2{
    grid-area: winner2;
}
.winner3{
    grid-area: winner3;
}
.winner4{
    grid-area: winner4;
}
.winner5{
    grid-area: winner5;
}
.winner6{
    grid-area: winner6;
}
.footer{
    grid-area: footer;
}


@media screen and (max-width: 750px){
    .about{
        display:grid;
        grid-gap: 5px;
        grid-template-columns: 1fr;
        grid-template-areas:
        "logo"    
        "nav"
        "info"
        "footer"
    }
}
@media screen and (min-width: 750px){
    .about{
        display: grid;
        grid-gap: 5px;
        grid-template-columns: 1fr;
        grid-template-areas:
        "logo"    
        "nav"
        "info"
        "footer";
    }

}
.logo{
    grid-area:logo;
}
.nav{
    grid-area:nav;
}
.info{
    grid-area:info;
}
.footer{
    grid-area:footer;
}

@media screen and (max-width: 750px){
    .contact{
        display:grid;
        grid-gap: 5px;
        grid-template-columns: 1fr;
        grid-template-areas:
        "logo"    
        "nav"
        "subject"
        "form"
        "footer";
    }
}
@media screen and (min-width: 750px){
    .contact{
        display: grid;
        grid-gap: 5px;
        grid-template-columns: 1fr;
        grid-template-areas:
        "logo"    
        "nav"
        "subject"
        "form"
        "footer";
    }

}
.logo{
    grid-area:logo;
}
.nav{
    grid-area:nav;
}
.subject{
    grid-area:subject;
}
.form{
    grid-area:form;
}
.footer{
    grid-area:footer;
}

