.logo{
    background-color: ;
    font-family: 'Sedgwick Ave Display', cursive;
}
.nav{
   background-color: #487915; 
}
.featuredimage{
    background-color: #487915;
}

.footer{
    background-color: #c14f1c;
}


ul {
    list-style-type: none;
    margin:;
    padding:;
    overflow: hidden;
}

li {
    float: left;
    width: 20%;
}

li a {
    display: block;
    text-align: center;
    padding:;
    text-decoration: none;
    color: black;
}

li a:hover:not(.active) {
    background-color: #2c392e;
    color: white;
}
