@media screen and (max-width: 450px){
    .index{
        display:grid;
        grid-gap: 5px;
        grid-template-columns: 1fr;
        grid-template-areas:
        "logo"    
        "nav"
        "featuredimage"
        "footer"
    }
}
@media screen and (min-width: 450px){
    .index{
        display: grid;
        grid-gap: 5px;
        grid-template-columns: 1fr;
        grid-template-areas:
        "logo"    
        "nav"
        "featuredimage"
        "footer";
    }

}
.logo{
    grid-area:logo;
}
.nav{
    grid-area:nav;
}
.featuredimage{
    grid-area:featuredimage;
}
.footer{
    grid-area:footer;
}


@media screen and (max-width: 450px){
    .index{
        display:grid;
        grid-gap: 5px;
        grid-template-columns: 1fr;
        grid-template-areas:
        "logo"    
        "nav"
        "specials"
        "regular"    
        "juice"
        "footer";
    }
}
@media screen and (min-width: 450px){
    .index{
        display:grid;
        grid-gap: 5px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr 1fr 1fr 2fr 1fr;
        grid-template-areas:
        "logo logo logo"
        "nav nav nav"
        "specials specials specials"
        "regular regular juice"
        "footer footer footer";   
    }
}
